/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    backdrop-filter: blur(1px) grayscale(10%) brightness(90%);
}

.modal-head {
    background-color: rebeccapurple;
    color: white;
    padding: 20px;
    height: 10vh;
    text-align: center;
    font-size: larger;
}

.modal-body {
    padding: 20px;
    height: 50vh;
    overflow-y: scroll;
}
.modal-body embed {
    height: 1000px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    filter: drop-shadow(1px 1px 3px);
    margin: 20vh auto; /* 15% from the top and centered */
    width: 60%; /* Could be more or less, depending on screen size */
}